<nav class="navbar navbar-expand-lg navbar-light " id="navbar">
    <a class="navbar-brand" href="/articals">News scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/savedarticales">Saved articals</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" id="artcontainer">
    <div class="row" id="artctntitle">
        <h1>Articals</h1>
    </div>
    {{#each  articles}}
    <div class='row articleRow artnt' id={{_id}}>
        <div class='col-4'><img src={{imgurl}} alt='article image' id='articleimg' class='img-thumbnail'></div>
        <div class='col-8'>
            <h2 id='articletitle'><a target='_blank' href={{url}} id='arturl'>{{title}}</a> </h2>
            <p id='articlebody'>{{content}}</p><button class='btn btn-outline-success my-2 my-sm-0 deletebtn'
                type='submit' id='deletebtn' data-id={{_id}}>Delete article</button>
            <button class='btn btn-outline-success my-2 my-sm-0 shownotesbtn {{_id}}' type='submit' id='deletebtn'
                data-id={{_id}}>Show notes</button>
            <button class='btn btn-outline-success my-2 my-sm-0 hidenotesbtn {{_id}}' type='submit' id='hidenotebtn'
                data-id={{_id}} style="display: none">Hide notes</button>
            <button class='btn btn-outline-success my-2 my-sm-0 addnotebtn' type='submit' id='addnotebtn'
                data-id={{_id}}>Add note</button>
        </div>
    </div>

    <div class="row notes {{_id}}" style="display: none">
        <h3 >Notes :</h3>
        
        <ul lass="list-group">
            {{#each note}}
            <li class="liitm">{{content}}<button class='btn btn-outline-success my-2 my-sm-0 deletenotebtn' type='submit' id='{{_id}}'
              data-id={{../_id}}  >&#10005</button></li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>
<div class="modal" tabindex="-1" role="dialog" id="ntadded">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="artsvd">Note Added</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="ntdeleted">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="artsvd">Note Deleted</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="artdeliteded">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="artsvd">Artical Deleted</h1>
                </div>
            </div>
        </div>
    </div>